<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.decision.product.mapper.EngineCustProdMapper">
    
    <resultMap type="EngineCustProd" id="EngineCustProdResult">
        <result property="id"    column="ID"    />
        <result property="prodCode"    column="PROD_CODE"    />
        <result property="prodName"    column="PROD_NAME"    />
        <result property="paymentWay"    column="PAYMENT_WAY"    />
        <result property="creditTerm"    column="CREDIT_TERM"    />
        <result property="prodRate"    column="PROD_RATE"    />
        <result property="effectDate"    column="EFFECT_DATE"    />
        <result property="endDate"    column="END_DATE"    />
        <result property="createDate"    column="CREATE_DATE"    />
        <result property="lastUpdateDate"    column="LAST_UPDATE_DATE"    />
    </resultMap>

    <sql id="selectEngineCustProdVo">
        select ID, PROD_CODE, PROD_NAME, PAYMENT_WAY, CREDIT_TERM, PROD_RATE, EFFECT_DATE, END_DATE, CREATE_DATE, LAST_UPDATE_DATE from engine_cust_prod
    </sql>

    <select id="selectEngineCustProdList" parameterType="EngineCustProd" resultMap="EngineCustProdResult">
        <include refid="selectEngineCustProdVo"/>
        <where>  
            <if test="prodCode != null  and prodCode != ''"> and PROD_CODE = #{prodCode}</if>
            <if test="prodName != null  and prodName != ''"> and PROD_NAME like concat('%', #{prodName}, '%')</if>
            <if test="paymentWay != null  and paymentWay != ''"> and PAYMENT_WAY = #{paymentWay}</if>
            <if test="effectDate != null "> and EFFECT_DATE = #{effectDate}</if>
            <if test="endDate != null "> and END_DATE = #{endDate}</if>
        </where>
    </select>
    
    <select id="selectEngineCustProdById" parameterType="String" resultMap="EngineCustProdResult">
        <include refid="selectEngineCustProdVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertEngineCustProd" parameterType="EngineCustProd">
        insert into engine_cust_prod
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">ID,</if>
            <if test="prodCode != null and prodCode != ''">PROD_CODE,</if>
            <if test="prodName != null and prodName != ''">PROD_NAME,</if>
            <if test="paymentWay != null and paymentWay != ''">PAYMENT_WAY,</if>
            <if test="creditTerm != null and creditTerm != ''">CREDIT_TERM,</if>
            <if test="prodRate != null">PROD_RATE,</if>
            <if test="effectDate != null">EFFECT_DATE,</if>
            <if test="endDate != null">END_DATE,</if>
            CREATE_DATE,
            LAST_UPDATE_DATE,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="prodCode != null and prodCode != ''">#{prodCode},</if>
            <if test="prodName != null and prodName != ''">#{prodName},</if>
            <if test="paymentWay != null and paymentWay != ''">#{paymentWay},</if>
            <if test="creditTerm != null and creditTerm != ''">#{creditTerm},</if>
            <if test="prodRate != null">#{prodRate},</if>
            <if test="effectDate != null">#{effectDate},</if>
            <if test="endDate != null">#{endDate},</if>
            sysdate(),
            sysdate()
         </trim>
    </insert>

    <update id="updateEngineCustProd" parameterType="EngineCustProd">
        update engine_cust_prod
        <trim prefix="SET" suffixOverrides=",">
            <if test="prodCode != null and prodCode != ''">PROD_CODE = #{prodCode},</if>
            <if test="prodName != null and prodName != ''">PROD_NAME = #{prodName},</if>
            <if test="paymentWay != null and paymentWay != ''">PAYMENT_WAY = #{paymentWay},</if>
            <if test="creditTerm != null and creditTerm != ''">CREDIT_TERM = #{creditTerm},</if>
            <if test="prodRate != null">PROD_RATE = #{prodRate},</if>
            <if test="effectDate != null">EFFECT_DATE = #{effectDate},</if>
            <if test="endDate != null">END_DATE = #{endDate},</if>
            <if test="createDate != null">CREATE_DATE = #{createDate},</if>
            LAST_UPDATE_DATE = sysdate()
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteEngineCustProdById" parameterType="String">
        delete from engine_cust_prod where ID = #{id}
    </delete>

    <delete id="deleteEngineCustProdByIds" parameterType="String">
        delete from engine_cust_prod where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>